@media (max-width: 720px) {
    .lista-artes {
        height: 400px;
    }

    .cabecalho .titulo {
        font-size: 25px;
    }

    .rodape .fonte-nga {
        font-size: 20px;
    }

}

@media (max-width: 550px) { 
    .arte-slider {
        min-width: 100px;
        max-width: 420px;
    }

    .lista-artes {
        height: 600px;
    }

    .btn-seta {
        margin: 0 5px;
    }

    .btn-seta:hover span {
        padding-left: 5px;
    }

    .cartao {
        margin: 0 40px;
    }

    .cartao .arte {
        width: 100%;
    }

    .cartao .info .autor {
        max-width: 50%;
        font-size: 10px;
    }

    .cartao .info .ano {
        font-size: 10px;
    }

    .cartao .descricao {
        font-size: 9px;
        
    }

    .rodape .fonte-nga {
       font-size: 15px;
    }
}

@media (max-width: 475px) {
    body {
        background-size: auto;
    }

    .cabecalho {
        gap: 5px;
    }

    .cabecalho .titulo {
        font-size: 15px;
    }

    .cabecalho .icon {
        max-height: 30px;
        max-width: 30px;
    }

    .cartao .info .autor {
        max-width: 50%;
        font-size: 10px;
    }

    .cartao .info .ano {
        font-size: 10px;
    }

    .cartao .descricao {
        font-size: 9px;
    }

    .rodape .fonte-nga {
       font-size: 15px;
    }
}

@media (max-width: 420px) {

    .lista-artes {
        height: 600px;
    }

}

@media (max-width: 340px) {

    .lista-artes {
        height: 590px;
    }

    .btn-seta {
        z-index: 2;
    }

    .cartao {
        margin: 0 5px;
    }

    .cartao .arte {
        width: 100%;
    }
    

}

@media (max-width: 255px) {

    .lista-artes {
        height: 440px;
    }

    .cartao .info .autor {
        font-size: 7px;
    } 

    .cartao .info .ano {
        font-size: 7px;
    }

    .cartao .descricao {
        font-size: 7px;
    }

    .rodape .fonte-nga {
        font-size: 10px;
    }
}

@media (max-width: 220px) {

    .cabecalho .titulo {
        font-size: 10px;
    }

    .cartao {
        margin: 0 2px;
    }

    .cartao .info .autor {
        max-width: 50%;
        font-size: 7px;
    }

    .cartao .info .ano {
        font-size: 7px;
    }

    .cartao .descricao {
        font-size: 6px;
        padding: 0px 4px;
    }

    .rodape .fonte-nga {
       font-size: 10px;
    }
}



