body {
    font-family: 'Aboreto', cursive;
    background-image: url(../imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

.cabecalho .icon {
    height: 50px;
    width: 50px;
    border: solid 3px #674332;
    border-radius: 5px;
    
}

.cabecalho .titulo {
    font-size: 40px;
    color:#e7bfa9
}

.arte-slider {
    min-width: 320px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 30px;
    margin: 20px auto;
}

.arte-slider .lista-artes {
    width: 1200px;
    height: 675px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.btn-seta {
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    margin: 0 15px;
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.btn-seta span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-seta span:after {
    font-size: 30px;
    content: '|';
    position: absolute;
    opacity: 0;
    top: -43px;
    right: -5px;
    transition: 0.5s;
}

.btn-seta:hover span {
    padding-left: 25px;
}
  
.btn-seta:hover span:after {
    opacity: 1;
    right: 0;
}

.cartao {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 2px 6px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: opacity 0.3s ease-in-out;
    margin: 0 65px;
}

.selecionado {
    opacity: 1;
    z-index: 1;
}

.cartao .info {
    opacity: 0.7;
    background-color: rgba(179, 177, 185, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cartao .autor {
    font-size: 20px;
}

.cartao .info .ano {
    background-color: #f1de89;
    color: #333;
    padding: 3px 8px;
    border-radius: 5px;
    margin: 5px 0px;
}

.cartao .container-imagem {
    max-width: 1200px;
}

.cartao .arte {
    width: 100%;
}

.cartao .descricao {
    position: relative;
    top: -4px;
    font-size: 15px;
    opacity: 0.7;
    background-color: rgba(179, 177, 185, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.descricao .nome-arte {
    text-decoration: none;
    color: #021021;
    font-style: italic;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.rodape .fonte-nga {
    text-decoration: none;
    font-size: 25px;
    color: #433242;
    background-color: #cec494;
    padding: 10px;
    border-radius: 5px;
}
